.h1 {
    background-color: #f5f5f5;
}

.h1 a{
    background-color: #f5f5f5;
}

.h1 img{
    margin-left: 50px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.h2{    
    text-align: center;
}

.h2 .a1{
    font-size: 100px;
    font-family: Anton SC, sans-serif;
}

.h2 .a2{
    font-family: Kanit;
    font-size: 20px;
}

video {
    width: 100%;
    height: auto;
}